#sprite { width:400px; height:300px; display: block; background: transparent url(../img/animation.jpg) no-repeat top left; }


/**** pure css technique ***

http://jsfiddle.net/simurai/CGmCe/


    -webkit-animation: play .8s steps(10) infinite;
       -moz-animation: play .8s steps(10) infinite;
        -ms-animation: play .8s steps(10) infinite;
         -o-animation: play .8s steps(10) infinite;
            animation: play .8s steps(10) infinite;
****/